.footer-links li {
  margin-bottom: 10px
}

footer .footer-links li a {
  font-size: 14px;
  color: white;
  transition: all .3s;
}

footer .footer-links a:hover {
  color: rgba(255, 255, 255, 0.5);
  margin-left: 4px;
}

footer .footer-title {
  font-size: 18px !important
}

.buy-now-button {
  height: 3rem;
  letter-spacing: .05em
}

.buy-now-button,.buy-now-button:hover {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  text-transform: uppercase;
  cursor: pointer;
  transition: all .3s
}

.buy-now-button:hover {
  opacity: .8
}

.quantity-input {
  display: flex;
  width: 50px;
  text-align: center;
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.product-detail-quantity-boxes .product-detail-quantity-box {
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  cursor: pointer;
  border: 1px solid var(--border-color);
  background-color: #fff;
  transition: background-color 0.3s;
}

.product-detail-quantity-boxes .product-detail-quantity-box:hover {
  background-color: #f8f8f8;
}

.product-detail-quantity-boxes .product-detail-quantity {
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  font-weight: 500;
}

.product-detail-page-detail-box .product-name-main .brand-name {
  font-size: 16px;
  font-weight: 800;
  color: var(--primary-color);
}

.product-detail-page-detail-box .product-name-main .product-name {
  font-size: 18px;
  font-weight: 400;
  color: var(--primary-textColor);
}

.product-detail-page-detail-box span.add-favorite-basket {
  color: var(--primary-color);
}

.product-detail-page-detail-categories .categories-detail {
  margin-bottom: 16px;
  display: flex;
  font-size: 13px;
}

.product-detail-page-detail-categories .categories-detail span:first-child {
  display: flex;
  color: var(--prefix-color);
  font-weight: 500;
}

.product-detail-page-detail-categories .categories-detail span:nth-child(2) {
  color: var(--prefix-color);
  font-weight: 500;
  margin-left: 5px;
}

.product-detail-page-buy-box .add-to-cart {
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  color: #fff;
  justify-content: center;
  height: 3rem;
  letter-spacing: 0.05em;
  font-weight: 900;
  cursor: pointer;
  transition: all 0.3s;
}

.product-detail-page-buy-box .add-to-cart.out-of-stock {
  background-color: #ececec;
  display: flex;
  align-items: center;
  color: #383838;
  justify-content: center;
  font-weight: 900;
  cursor: pointer !important;
}

.product-detail-page-buy-box .add-to-cart.stock.loading {
  background-color: #ececec;
  display: flex;
  align-items: center;
  color: #383838;
  justify-content: center;
  font-weight: 900;
  cursor: progress !important;
}

.product-detail-page-buy-box .add-to-cart:hover {
  background-color: var(--primary-hoverColor);
}

.product-detail-page-buy-box .buy-now {
  background-color: var(--primary-textColor);
  display: flex;
  align-items: center;
  color: #fff;
  justify-content: center;
  border-radius: 10rem;
  height: 3rem;
  font-weight: 700;
  cursor: pointer;
}

.product-detail-page-buy-box .add-to-cart.disabled {
  background-color: #ececec !important;
  display: flex;
  align-items: center;
  color: #383838 !important;
  justify-content: center;
  font-weight: 900;
  cursor: not-allowed;
}

.product-detail-page-buy-box .buy-now:hover {
  background-color: var(--primary-color);
}

.product-detail-page-buy-box .quantity-box {
  border: 2px solid var(--border-color);
  display: flex;
  align-items: center;
  color: var(--primary-color);
  justify-content: center;
  border-radius: 10rem;
  height: 3rem;
  width: 100%;
  font-weight: 700;
}

.product-detail-page-buy-box .quantity-box .quantity-box-minus {
  font-weight: 700;
}

.product-detail-page-buy-box .quantity-box .quantity-box-minus,
.product-detail-page-buy-box .quantity-box .quantity-box-plus {
  justify-content: center;
  align-items: center;
  width: 25%;
  display: flex;
  color: var(--primary-textColor);
  cursor: pointer;
}

.product-detail-page-buy-box .quantity-box input {
  width: 50%;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  font-weight: 700;
  font-size: 20px;
}

.product-detail-page-buy-box .quantity-box input:focus {
  outline: none;
}

.product-detail-page-tabs .tab {
  display: flex;
  cursor: pointer;
  font-size: 14px;
}

.product-detail-page-tabs .tab:hover .title {
  text-decoration: underline;
}

.product-detail-page-tabs .tab.active {
  padding: 0 10px;
  border-radius: 40px;
  border: 2px solid var(--primary-color) !important;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.5rem;
  cursor: pointer;
  color: var(--primary-color) !important;
}

.product-detail-page-tabs .tab-content {
  color: var(--primary-textColor);
  font-size: 13px;
  overflow: hidden;
  position: relative;
  width: 100%;
  margin-top: 15px;
  font-weight: 400 !important;
  cursor: default;
}

.product-detail-page-easy-refund {
  padding: 10px 0;
  align-items: center;
  display: flex;
}

.product-detail-page-easy-refund .easy-refund {
  display: flex;
  align-items: center;
}

.product-detail-page-easy-refund .easy-refund .easy-refund-image {
  margin-right: 15px;
}

.product-detail-page-easy-refund .easy-refund span:nth-child(2) {
  font-weight: 400;
  font-size: 13px;
  width: 60%;
}

.product-detail-page-slider .slick-slider-main {
  border-radius: 1.5rem;
}

.product-detail-page-slider {
  height: 700px;
}

.product-detail-page-slider-modal {
  height: 500px;
}

.product-detail-page-variants .selected-circle {
  background-color: var(--primary-color) !important;
}

.product-detail-page-variants .first-image-circle,
.product-detail-page-variants .selected-circle {
  border: 1px solid var(--primary-color) !important;
  color: #fff;
}

.product-detail-page-variants .selected-circle span.variant-name {
  color: var(--primary-variantSelectedNameColor) !important;
}

.product-detail-page-variants .variant-types {
  border: 1px solid var(--border-color);
  min-width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-detail-page-variants .variant-types:hover {
  border: 1px solid var(--primary-color);
}

.product-detail-page-variants .variant-name {
  color: var(--primary-variantNameColor);
  font-weight: 700;
  font-size: 14px;
}

.variant-type {
  color: var(--variantTitleColor);
  font-size: 14px;
}

.primary-border {
  border: 1px solid var(--primary-color) !important;
}

.secondary-border {
  border: 1px solid var(--border-color);
}

.secondary-border:hover {
  border: 1px solid var(--primary-color) !important;
}

.product-detail-page-detail-price-box .price-main {
  font-weight: 800;
  font-size: 18px;
  display: flex;
  align-items: flex-end;
  margin-top: 10px;
}

.product-detail-page-detail-price-box .price-main .discount-percent {
  width: 38px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #fff;
  font-size: 12px;
  margin-right: 10px;
  font-weight: 900;
}

.product-detail-page-detail-price-box
  .price-main
  .discount-percent.category-page-discount-percent {
  background-color: var(--primary-color);
}

.product-detail-page-detail-price-box
  .price-main
  .discount-price
  span:first-child {
  text-decoration: line-through;
  color: var(--line-throughColor);
  font-size: 16px;
  font-weight: 400 !important;
  line-height: 15px;
}

.product-detail-page-slider .slick-arrow.slick-prev,
.product-detail-zoom-slider .slick-arrow.slick-prev {
  left: 10px !important;
  z-index: 2;
  border: 2px solid #000;
  width: 40px;
  height: 40px;
}

.product-detail-page-slider .slick-arrow.slick-next,
.product-detail-zoom-slider .slick-arrow.slick-next {
  right: 10px !important;
  z-index: 2;
  border: 2px solid #000;
  width: 40px;
  height: 40px;
}

.product-detail-zoom-slider .slick-arrow.slick-next,
.product-detail-zoom-slider .slick-arrow.slick-prev {
  background-color: #fff;
}

.product-detail-page-slider .slick-arrow,
.product-detail-zoom-slider .slick-arrow {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.product-detail-page-slider:hover .slick-arrow,
.product-detail-zoom-slider:hover .slick-arrow {
  display: flex !important;
}

.product-detail-page-slider .slick-next:before,
.product-detail-page-slider .slick-prev:before,
.product-detail-zoom-slider .slick-next:before,
.product-detail-zoom-slider .slick-prev:before {
  content: "" !important;
}

.product-detail-page-slider .slick-arrow.slick-next.with-bg,
.product-detail-page-slider .slick-arrow.slick-prev.with-bg {
  border: 0 !important;
  background-color: var(--primary-color);
  border-radius: 4px;
}

.product-detail-page-slider .slick-arrow.slick-next.with-bg svg,
.product-detail-page-slider .slick-arrow.slick-prev.with-bg svg {
  color: #fff;
}

.product-detail-page-slider .slick-arrow.slick-next.with-bg:hover,
.product-detail-page-slider .slick-arrow.slick-prev.with-bg:hover {
  background-color: var(--primary-color);
}

.product-detail-page-slider .slick-arrow.slick-next:hover,
.product-detail-page-slider .slick-arrow.slick-prev:hover {
  background-color: #efefef;
}

.product-detail-table td {
  font-size: 13px;
}

.product-detail-table .table-tr:last-child {
  border-bottom: unset;
}

.product-detail-tabs-main {
  background: #f8f8f8;
  padding: 0 16px;
  margin-top: 16px;
}

.product-detail-page-tabs div.tab:last-child {
  border-bottom: unset;
}

.product-detail-page-tabs .tab {
  padding: 16px 0;
  font-weight: 500;
  color: #1f1f1f;
  border-bottom: 1px solid var(--border-color);
}

.product-detail-page-variants .color-image-choice {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

.product-detail-page-variants .color-noimage-choice {
  width: 38px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

.home-slider-main .slick-dots {
  position: absolute;
  bottom: 15px;
}

.home-slider-main .slick-dots > li {
  margin: 0 0.5rem !important;
  width: unset !important;
  height: unset !important;
}

.home-slider-main .slick-dots > li > button {
  width: 8px;
  height: 8px;
  border: none;
  position: relative;
  overflow: hidden;
  text-indent: -9999px;
  border-radius: 50%;
  background-color: #fff;
  padding: 0;
  display: block;
  margin-bottom: 0.5rem;
  transition: all 0.2s ease-in-out;
}

.home-slider-main .slick-dots > li.slick-active > button {
  background-color: black !important;
  width: 2rem;
  border-radius: 10rem;
  background-color: #fff;
}

.home-slider-main .slick-arrow.slick-prev {
  left: 3% !important;
  z-index: 2;
  border: 2px solid #000;
  width: 50px;
  height: 50px;
  transition: all 0.3s;
}

.home-slider-main .slick-arrow.slick-next {
  right: 3% !important;
  z-index: 2;
  border: 2px solid #000;
  width: 50px;
  height: 50px;
  transition: all 0.3s;
}

.home-slider-main .slick-arrow.slick-next.with-bg,
.home-slider-main .slick-arrow.slick-prev.with-bg {
  border: 0 !important;
  background-color: var(--primary-color);
  border-radius: 4px;
}

.home-slider-main .slick-arrow.slick-next.with-bg:not(.arrow-color) svg,
.home-slider-main .slick-arrow.slick-prev.with-bg:not(.arrow-color) svg {
  color: #fff !important;
}

.home-slider-main .slick-arrow.slick-next:hover,
.home-slider-main .slick-arrow.slick-prev:hover {
  background-color: #efefef;
}

.home-slider-main .slick-arrow.slick-next.with-bg:hover,
.home-slider-main .slick-arrow.slick-prev.with-bg:hover {
  background-color: var(--primary-color);
}

.home-slider-main .slick-arrow {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.home-slider-main .slick-next:before,
.home-slider-main .slick-prev:before {
  content: "" !important;
}

.products-slider-main .products-slider-title :is(h1, h2, h3, h4, h5, h6) {
  font-size: 2.2rem;
  color: #000;
  font-weight: 900;
  margin-bottom: 20px;
  padding: 0 10px;
}

.products-slider-main .products-slider-image {
  -o-object-fit: contain;
  object-fit: contain;
}

.products-slider-main .products-slider-image:not(.remove-bg) {
  background-color: #fff;
}

.products-slider-main .products-slider-info-main .brand {
  font-size: 16px;
  font-weight: 700;
  color: var(--primary-color);
  margin: 5px 0 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.products-slider-main .products-slider-info-main .product-name {
  color: #000;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 14px;
}

.products-slider-main .products-slider-info-main .product-name.full-name {
  text-overflow: unset;
  white-space: unset;
  overflow: unset;
}

.products-slider-main .products-slider-info-main .variant {
  font-size: 13px;
  height: 20px;
  color: var(--primary-color);
}

.products-slider-main .products-slider-info-main .price-main {
  font-weight: 900;
  font-size: 18px;
  height: 40px;
  display: flex;
  align-items: flex-end;
  margin-top: 10px;
}

.products-slider-main .products-slider-info-main .price-main .discount-percent {
  width: 38px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #fff;
  font-size: 12px;
  margin-right: 10px;
  font-weight: 900;
}

.products-slider-main
  .products-slider-info-main
  .price-main
  .discount-price
  span:first-child {
  text-decoration: line-through;
  color: var(--line-throughColor);
  font-size: 16px;
  font-weight: 400 !important;
  line-height: 15px;
}

.products-slider-main .slick-arrow.slick-prev {
  left: 10px !important;
  z-index: 2;
  border: 2px solid #000;
  width: 40px;
  height: 40px;
  top: 50%;
  transform: translateY(-100%);
}

.products-slider-main .slick-arrow.slick-next {
  right: 10px !important;
  z-index: 2;
  border: 2px solid #000;
  width: 40px;
  height: 40px;
  top: 50%;
  transform: translateY(-100%);
}

.products-slider-main .slick-arrow {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  opacity: 0;
  visibility: hidden;
  margin-top: 20px;
  transition: all 0.3s;
}

.products-slider-main:hover .slick-arrow {
  display: flex !important;
  margin-top: 0;
  opacity: 1;
  visibility: visible;
}

.products-slider-main .slick-arrow.slick-next:hover,
.products-slider-main .slick-arrow.slick-prev:hover {
  background-color: #efefef;
}

.products-slider-main .slick-arrow.slick-next.with-bg,
.products-slider-main .slick-arrow.slick-prev.with-bg {
  border: 0 !important;
  background-color: var(--primary-color);
  border-radius: 4px;
}

.products-slider-main .slick-arrow.slick-next.with-bg:not(.arrow-color) svg,
.products-slider-main .slick-arrow.slick-prev.with-bg:not(.arrow-color) svg {
  color: #fff !important;
}

.products-slider-main .slick-arrow.slick-next.with-bg:hover,
.products-slider-main .slick-arrow.slick-prev.with-bg:hover {
  background-color: var(--primary-color);
}

.products-slider-main .slick-next:before,
.products-slider-main .slick-prev:before {
  content: "" !important;
}

.product-detail-page-slider .variant-images-small {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 9;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  height: 90% !important;
}

.product-detail-page-slider .variant-images-large {
  grid-column-start: 2;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 9;
  width: 100%;
}

.product-detail-page-slider .variant-images-large-modal {
  grid-column-start: 1 !important;
  grid-column-end: 9 !important;
  grid-row-start: 1 !important;
  grid-row-end: 9 !important;
  width: 100%;
}

.product-detail-page-slider .variant-images-small .small-images-main {
  margin-bottom: 10px !important;
  padding-bottom: 10px !important;
  width: 50%;
}

.product-detail-page-slider
  .variant-images-small
  .small-images-main.active-image {
  border-bottom: 2px solid var(--primary-color);
}

.product-detail-page-detail-box .product-name-main .brand-name {
  font-size: 16px;
  font-weight: 800;
  color: var(--primary-color);
}

.product-detail-page-detail-box .product-name-main .product-name {
  font-size: 18px;
  font-weight: 400;
  color: var(--primary-textColor);
}

.product-detail-page-detail-box span.add-favorite-basket {
  color: var(--primary-color);
}

.product-detail-page-detail-categories .categories-detail {
  margin-bottom: 16px;
  display: flex;
  font-size: 13px;
}

.product-detail-page-detail-categories .categories-detail span:first-child {
  display: flex;
  color: var(--prefix-color);
  font-weight: 500;
}

.product-detail-page-detail-categories .categories-detail span:nth-child(2) {
  color: var(--prefix-color);
  font-weight: 500;
  margin-left: 5px;
}

.product-detail-page-buy-box .add-to-cart {
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  color: #fff;
  justify-content: center;
  height: 3rem;
  letter-spacing: 0.05em;
  font-weight: 900;
  cursor: pointer;
  transition: all 0.3s;
}

.product-detail-page-buy-box .add-to-cart.out-of-stock {
  background-color: #ececec;
  display: flex;
  align-items: center;
  color: #383838;
  justify-content: center;
  font-weight: 900;
  cursor: pointer !important;
}

.product-detail-page-buy-box .add-to-cart.stock.loading {
  background-color: #ececec;
  display: flex;
  align-items: center;
  color: #383838;
  justify-content: center;
  font-weight: 900;
  cursor: progress !important;
}

.product-detail-page-buy-box .add-to-cart:hover {
  background-color: var(--primary-hoverColor);
}

.product-detail-page-buy-box .buy-now {
  background-color: var(--primary-textColor);
  display: flex;
  align-items: center;
  color: #fff;
  justify-content: center;
  border-radius: 10rem;
  height: 3rem;
  font-weight: 700;
  cursor: pointer;
}

.product-detail-page-buy-box .add-to-cart.disabled {
  background-color: #ececec !important;
  display: flex;
  align-items: center;
  color: #383838 !important;
  justify-content: center;
  font-weight: 900;
  cursor: not-allowed;
}

.product-detail-page-buy-box .buy-now:hover {
  background-color: var(--primary-color);
}

.product-detail-page-buy-box .quantity-box {
  border: 2px solid var(--border-color);
  display: flex;
  align-items: center;
  color: var(--primary-color);
  justify-content: center;
  border-radius: 10rem;
  height: 3rem;
  width: 100%;
  font-weight: 700;
}

.product-detail-page-buy-box .quantity-box .quantity-box-minus {
  font-weight: 700;
}

.product-detail-page-buy-box .quantity-box .quantity-box-minus,
.product-detail-page-buy-box .quantity-box .quantity-box-plus {
  justify-content: center;
  align-items: center;
  width: 25%;
  display: flex;
  color: var(--primary-textColor);
  cursor: pointer;
}

.product-detail-page-buy-box .quantity-box input {
  width: 50%;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  font-weight: 700;
  font-size: 20px;
}

.product-detail-page-buy-box .quantity-box input:focus {
  outline: none;
}

.product-detail-page-tabs .tab {
  display: flex;
  cursor: pointer;
  font-size: 14px;
}

.product-detail-page-tabs .tab:hover .title {
  text-decoration: underline;
}

.product-detail-page-tabs .tab.active {
  padding: 0 10px;
  border-radius: 40px;
  border: 2px solid var(--primary-color) !important;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.5rem;
  cursor: pointer;
  color: black !important;
}

.product-detail-page-tabs .tab-content {
  color: var(--primary-textColor);
  font-size: 13px;
  overflow: hidden;
  position: relative;
  width: 100%;
  margin-top: 15px;
  font-weight: 400 !important;
  cursor: default;
}

.product-detail-page-easy-refund {
  padding: 10px 0;
  align-items: center;
  display: flex;
}

.product-detail-page-easy-refund .easy-refund {
  display: flex;
  align-items: center;
}

.product-detail-page-easy-refund .easy-refund .easy-refund-image {
  margin-right: 15px;
}

.product-detail-page-easy-refund .easy-refund span:nth-child(2) {
  font-weight: 400;
  font-size: 13px;
  width: 60%;
}

.product-detail-page-slider .slick-slider-main {
  border-radius: 1.5rem;
}

.product-detail-page-slider {
  height: 700px;
}

.product-detail-page-slider-modal {
  height: 500px;
}

.product-detail-page-variants .selected-circle {
  background-color: var(--primary-color) !important;
}

.product-detail-page-variants .first-image-circle,
.product-detail-page-variants .selected-circle {
  border: 1px solid var(--primary-color) !important;
  color: #fff;
}

.product-detail-page-variants .selected-circle span.variant-name {
  color: var(--primary-variantSelectedNameColor) !important;
}

.product-detail-page-variants .variant-types {
  border: 1px solid var(--border-color);
  min-width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-detail-page-variants .variant-types:hover {
  border: 1px solid var(--primary-color);
}

.product-detail-page-variants .variant-name {
  color: var(--primary-variantNameColor);
  font-weight: 700;
  font-size: 14px;
}

.product-detail-page-detail-price-box .price-main {
  font-weight: 800;
  font-size: 18px;
  display: flex;
  align-items: flex-end;
  margin-top: 10px;
}

.product-detail-page-detail-price-box .price-main .discount-percent {
  width: 38px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #fff;
  font-size: 12px;
  margin-right: 10px;
  font-weight: 900;
}

.product-detail-page-detail-price-box
  .price-main
  .discount-percent.category-page-discount-percent {
  background-color: var(--primary-color);
}

.product-detail-page-detail-price-box
  .price-main
  .discount-price
  span:first-child {
  text-decoration: line-through;
  color: var(--line-throughColor);
  font-size: 16px;
  font-weight: 400 !important;
  line-height: 15px;
}

.product-detail-page-slider .slick-arrow.slick-prev,
.product-detail-zoom-slider .slick-arrow.slick-prev {
  left: 10px !important;
  z-index: 2;
  border: 2px solid #000;
  width: 40px;
  height: 40px;
}

.product-detail-page-slider .slick-arrow.slick-next,
.product-detail-zoom-slider .slick-arrow.slick-next {
  right: 10px !important;
  z-index: 2;
  border: 2px solid #000;
  width: 40px;
  height: 40px;
}

.product-detail-zoom-slider .slick-arrow.slick-next,
.product-detail-zoom-slider .slick-arrow.slick-prev {
  background-color: #fff;
}

.product-detail-page-slider .slick-arrow,
.product-detail-zoom-slider .slick-arrow {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.product-detail-page-slider:hover .slick-arrow,
.product-detail-zoom-slider:hover .slick-arrow {
  display: flex !important;
}

.product-detail-page-slider .slick-next:before,
.product-detail-page-slider .slick-prev:before,
.product-detail-zoom-slider .slick-next:before,
.product-detail-zoom-slider .slick-prev:before {
  content: "" !important;
}

.product-detail-page-slider .slick-arrow.slick-next.with-bg,
.product-detail-page-slider .slick-arrow.slick-prev.with-bg {
  border: 0 !important;
  background-color: var(--primary-color);
  border-radius: 4px;
}

.product-detail-page-slider .slick-arrow.slick-next.with-bg svg,
.product-detail-page-slider .slick-arrow.slick-prev.with-bg svg {
  color: #fff;
}

.product-detail-page-slider .slick-arrow.slick-next.with-bg:hover,
.product-detail-page-slider .slick-arrow.slick-prev.with-bg:hover {
  background-color: var(--primary-color);
}

.product-detail-page-slider .slick-arrow.slick-next:hover,
.product-detail-page-slider .slick-arrow.slick-prev:hover {
  background-color: #efefef;
}

.product-detail-table td {
  font-size: 13px;
}

.product-detail-table .table-tr:last-child {
  border-bottom: unset;
}

.product-detail-tabs-main {
  background: #f8f8f8;
  padding: 0 16px;
  margin-top: 16px;
}

.product-detail-page-tabs div.tab:last-child {
  border-bottom: unset;
}

.product-detail-page-tabs .tab {
  padding: 16px 0;
  font-weight: 500;
  color: #1f1f1f;
  border-bottom: 1px solid var(--border-color);
}

.product-detail-page-variants .color-image-choice {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

.product-detail-page-variants .color-noimage-choice {
  width: 38px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

.payment-icons .payment-icon {
  display: inline-block;
  opacity: 0.6;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.1);
  padding-bottom: 0;
  padding: 3px 5px 5px;
  margin: 3px 3px 0;
}

.payment-icons .payment-icon svg {
  vertical-align: middle;
  height: 14px;
  width: auto !important;
}

@media (min-width: 1024px) {
  .payment-icons .payment-icon svg {
    vertical-align: middle;
    height: 20px;
    width: auto !important;
  }
}

.payment-icons .payment-icon:hover {
  opacity: 1;
}

.payment-icons .payment-icon {
  background-color: rgba(255, 255, 255, 0.1);
}

.payment-icons .payment-icon svg {
  fill: #fff;
}

.slick-slider {
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list,
.slick-slider {
  position: relative;
  display: block;
}

.slick-list {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-list,
.slick-slider .slick-track {
  transform: translateZ(0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:after,
.slick-track:before {
  display: table;
  content: "";
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.slick-loading .slick-list {
  background: #fff
    url(https://cdn.myikas.com/sf/v1/23eadebd-9939-4bd9-b783-55dbbcac13bf/5b3b5aa0-d516-42b6-9191-9b3fa6ba93c3/1712303511202/_next/static/media/ajax-loader.0b80f665.gif)
    50% no-repeat;
}

.slick-next,
.slick-prev {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  transform: translateY(-50%);
  cursor: pointer;
  border: none;
}

.slick-next,
.slick-next:focus,
.slick-next:hover,
.slick-prev,
.slick-prev:focus,
.slick-prev:hover {
  color: transparent;
  outline: none;
  background: transparent;
}

.slick-next:focus:before,
.slick-next:hover:before,
.slick-prev:focus:before,
.slick-prev:hover:before {
  opacity: 1;
}

.slick-next.slick-disabled:before,
.slick-prev.slick-disabled:before {
  opacity: 0.25;
}

.slick-next:before,
.slick-prev:before {
  font-family: slick;
  font-size: 20px;
  line-height: 1;
  opacity: 0.75;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}

[dir="rtl"] .slick-prev {
  right: -25px;
  left: auto;
}

.slick-prev:before {
  content: "←";
}

[dir="rtl"] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}

[dir="rtl"] .slick-next {
  right: auto;
  left: -25px;
}

.slick-next:before {
  content: "→";
}

[dir="rtl"] .slick-next:before {
  content: "←";
}

.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  padding: 0;
}

.slick-dots li,
.slick-dots li button {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  padding: 5px;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.slick-dots li button:focus,
.slick-dots li button:hover {
  outline: none;
}

.slick-dots li button:focus:before,
.slick-dots li button:hover:before {
  opacity: 1;
}

.slick-dots li button:before {
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: "•";
  text-align: center;
  opacity: 0.25;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: #000;
}

.shadow-navbar {
  box-shadow: 0 5px 5px -7px #989898;
}

.product-detail-page-slider {
  height: 948px;
}

.bottom-slider .slick-slider {
  width: 100%;
}

.bottom-slider {
  width: 100% !important;
}

.bottom-slider-main {
  margin-top: 10px;
}

.slider-container .bottom-slider .slide {
  margin-bottom: unset !important;
  padding-top: unset !important;
}
